asgiref==3.9.1
blinker==1.9.0
certifi==2025.11.12
channels==4.3.1
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
crispy-bootstrap5==2026.3
distlib==0.4.0
Django==5.2.6
django-cors-headers==4.9.0
django-crispy-forms==2.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.19.1
Flask==3.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
msgpack==1.1.2
mysql-connector==2.2.9
mysqlclient==2.2.7
pillow==12.0.0
platformdirs==4.4.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.2.1
razorpay==2.0.0
redis==7.1.0
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.34.0
Werkzeug==3.1.3
